*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f7f8;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 7rem;
    background-color: white;
}
nav>h2{
    background-color: white;
}
nav > img{
    cursor: pointer;
}
.logo{
    position: relative;
}
.logo>span{
        color: white;
        background-color: #2a8ded;
        border-radius: 10px;
        position: absolute;
        top: -0.3rem;
        right: -0.5rem;
        height: 15px;
        width: 15px;
        font-size: x-small;
        text-align: center;
        font-weight: 600;
        padding: 2px;
}
.display-items{
    display: flex;
    gap:20px;
    padding: 2rem;
    flex-wrap: wrap;
}

.card{
    width:200px;
    height:300px;
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 5px 4px 13px 0px #bdbbbb; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.info{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.card>button{
    background-color:#d5e6fd;
    border:none;
    padding: 8px;
    padding-left: 54px;
    padding-right: 54px;
    border-radius: 10px;
    color: #57aef2;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
}
.card>img{
    height:180px;
    
    width:200px;
}
.cart{
    /* border:2px solid black; */
    position:fixed;
    top:4rem;
    right:2rem;
    width:20vw;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart>header{
    width: 100%;
    height: 9%;
    position: relative;
    padding-left: 15px;
    padding-top: 9px;
    border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.cart>header>p{
    font-size: 12px;
    font-weight: 550;
}
.cart>header>h5{
    position: absolute;
    right: 22px;
    top:17px;
    cursor: pointer;
}
.card-items{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 5px;
}

.cart-card{
    /* border:2px solid black; */
    width:100%;
    height: 10%;
    display: flex;
    /* justify-content: space-between; */
    padding:5px;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-card>img{
    width: 40px;
    height: 40px;
}
.hidden{
    display:none;
}

.qty-options{
    position: absolute;
    right:10px;
    display: flex;
    gap: 3px;
    align-items: center;
}

.qty-options>button{
    width: 20px;
    height: 24px;
    font-size: 20px;
    background-color: #d5d6d8;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.cart-item-info{
    margin-left: 10px;
}
.billing{
    width: 100%;
    /* border: 2px solid black; */
    position: absolute;
    bottom: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.billing>p{
    color: #a5a8ad;
    position: relative;
}
.billing span{
    color: black;
    position: absolute;
    right:10px;
}
.billing>button{
    background-color: #2a8ded;
    border: none;
    border-radius: 15px;
    color:white;
    padding: 10px;
    cursor: pointer;
    font-size: medium;
    
}

@media only screen and (max-width :850px) {
    .cart{
        width:80vw
    }
    nav{
        justify-content: space-around;
        padding: 0;
        padding-top: 3px;
    }
    nav>span{
        top:3px;
        right:15px;
    }
}